.img-question {
    text-align: center;
  }
  
  .response {
    text-align: center;
  }
  
  .score {
    text-align: center;
    padding-top: 4%;
  }
  
  .dashboard {
    margin: 0 9%;
    
  }
  
  