.home {
    text-align: center;
}

.home-header {
    font-size: 40px;
    text-transform: uppercase;
    color: #1B4F72;
}

.container {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #28B463;
    
}

.link:hover {
    color: #82E0AA;
}


.login-form {
    color: #2980B9;
}