.home {
    text-align: center;
}

.home-header {
    font-size: 40px;
    text-transform: uppercase;
}

.container {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #E67E22;
    
}