/* html {
  background: url('https://zombiesruineverything.files.wordpress.com/2013/07/morph1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
} */

/* html {
  background-color: black;
} */